{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer-div">
  <div class="footer__links">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>
  <div class="footer__links">
    {% for link in section.settings['second-menu'].links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>
  <a href="{{ routes.root_url }}">
    <img
      src="{{ section.settings.logo | image_url }}"
      alt="logo"
      width="auto"
      height="auto"
      class="footer-logo"
    >
  </a>
</footer>

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "link_list",
      "id": "second-menu",
      "label": "t:labels.menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Footer Logo"
    }
  ]
}
{% endschema %}
