{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

{{ 'product.css' | asset_url | stylesheet_tag }}

<div class="product-page">
  <div class="product-images-wrapper">
    {% if product.metafields.custom.product_badge %}
      <div class="product-badge">
        {{ product.metafields.custom.product_badge | metafield_tag }}
      </div>
    {% endif %}
    {% render 'image', class: 'product-image', image: product.featured_image %}

    {% comment %}
      {% for image in product.images %}
        {% render 'image', class: 'product-image', image: image %}
      {% endfor %}
    {% endcomment %}
  </div>

  <div class="product-info">
    {{ product.vendor }}
    <h1>{{ product.title }}</h1>
    {{ cart.currency.iso_code }}
    {{ product.price | money }}
    <p>{{ product.description }}</p>

    <div class="product-form">
      {% form 'product', product %}
        {% if product.variants.size > 1 %}
          <fieldset class="variant-options">
            <legend>Select Options:</legend>

            {% for variant in product.variants %}
              <input
                type="radio"
                id="variant-{{ variant.id }}"
                name="id"
                value="{{ variant.id }}"
                {% if forloop.first %}
                  checked
                {% endif %}
                {% unless variant.available %}
                  disabled
                {% endunless %}
              >
              <label for="variant-{{ variant.id }}">
                <span class="var-title"> {{ variant.title }} </span>
                <span class="exp">EXP</span>
              </label>
            {% endfor %}
          </fieldset>
        {% endif %}

        <input type="submit" value="Add to cart">

        <input type="text" name="quantity" min="1" value="1">

        {% comment %} {{ form | payment_button }} {% endcomment %}
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
