{{ 'services.css' | asset_url | stylesheet_tag }}

<div id="{{ section.settings.anchor_id }}" class="service-div">
  <div class="service-info-div">
    <h3>{{ section.settings.heading }}</h3>
    <p>{{ section.settings.paragraph }}</p>
    {{ section.settings.notes }}
    <p>TABLES HERE????</p>
    <div class="button">
      <a href="{{ section.settings.cta }}">{{ section.settings.button }}</a>
    </div>
  </div>
  {% if section.settings['service-image-left'] != blank %}
    <div class="service-image-div-left">
      <img
        src="{{ section.settings['service-image-left'] | image_url }}"
        width="auto"
        height="auto"
        alt="Service Image"
      >
    </div>
  {% endif %}
  {% if section.settings['service-image-right'] != blank %}
    <div class="service-image-div-right">
      <img
        src="{{ section.settings['service-image-right'] | image_url }}"
        width="auto"
        height="auto"
        alt="Service Image"
      >
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "servicetype",
  "settings": [
    {
      "type": "text",
      "id": "anchor_id",
      "label": "Anchor ID (no spaces use '-')"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Service Heading"
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Service Text"
    },
    {
      "type": "richtext",
      "id": "notes",
      "label": "Service Notes"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Call to Action Name"
    },
    {
      "type": "url",
      "id": "cta",
      "label": "Call to Action"
    },
    {
      "type": "image_picker",
      "id": "service-image-right",
      "label": "Image right"
    },
    {
      "type": "image_picker",
      "id": "service-image-left",
      "label": "Image left"
    }
  ],
  "presets": [
    {
      "name": "Type of Service",
      "category": "Services"
    }
  ]
}
{% endschema %}
